*{
    margin: 0;
    padding: 0;
}

#titulo1{
    font-size: 100px;
    font-family: sans-serif; 
    text-align: left;
    color: purple;
    background-image:url(fondo2.jpg);
    padding-bottom: 20px;
    border:blueviolet currentColor;
   
}

.cabecera h2{
      padding-left: 50px;
      padding-bottom: 30px;
      margin-top: -40px;
      margin-bottom: 40px;
}
h2{
    color:purple;
    text-align: left;
}

header,section,body,nav,footer,hgroup,article,address{
    display: block;
    text-align: center;
}

.agrupar{
    width: 1000px;
    background-image: url(fondo.jpg);
    margin: 30px auto;
    padding: 20px;
}
body{
    background-image: url(fondo2.jpg);
}
.menu{
    text-align:left;
    margin-top: 20px;
    color: rgb(18, 7, 92);
}

.menu a{
    list-style:none;
    padding: 8px ;
    font: bold 14px arial;
    display:inline-block;
    text-decoration:none;
    
}

.seccion{
    margin: 20px;
    padding: 5px ;
    width: 400px;
    float: left; 
    background-image: url(fondo2.jpg);  
}
.articulo{
    margin: 20px;
}
.seccion h1{
    color: purple;
    margin: 5px;
    font:bold 30px Helvetica;
    padding: 10px;
}
p{
    text-align: justify;
    font-family: Arial;
}
.columna{
    margin: 20px;
    width: 300px;
    border: black solid;
    float: left;   
}
.pie{
    clear: both;
    padding-top: 50px;
    padding-bottom: 100px;
}
img{
    width: 400px;
    float: left;
    margin-top: 5px;
    padding-left: 80px;
    display: block;
}
header .fa .faceboton{
    width: 30px;
    padding-top: -100px;
    display: block;
    float: left;
    padding-left: 900px;
    margin-top: -50px;
}




#titulo2{
    font-size: 80px;
    font-family: sans-serif; 
    text-align: left;
    color: purple;
    background-image:url(fondo.jpg);
    padding-bottom: 100px;
    border:blueviolet currentColor;
   margin: 20px;
   margin-left: 50px;
  
}

h3{
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  color:white;
  background-color: darkmagenta;
  padding: 20px;
}
header .fa2 .faceboton{
  width: 30px;
  padding-top: -100px;
  display: block;
  float: left;
  padding-left: 150px;
  margin-top: -150px;
}
.numeros{
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  color: blueviolet;

}
.logoform{
  width: 250px;
  padding-left: 700px;
  margin-top: -240px;
}



 
            
      ul {
        list-style: none;
        padding: 15px;
        margin: 10px;
        background-image:url(fondo2.jpg);
        margin-top: 1px;
      }
      
      form li + li {
        margin-top: 2em;
        
      }
      
      label {
        /* Tamaño y alineación uniforme */
        display: inline-block;
        width: 90px;
        text-align: center;
      }
      input,
      textarea {
        /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
           Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
        font: 1em verdana;
      
        /* Tamaño uniforme del campo de texto */
        width: 400px;
        box-sizing: border-box;
      
        /* Hacer coincidir los bordes del campo del formulario */
        border: 1px solid #999;
      }
      
      textarea {
        /* Alinear los campos de texto multilínea con sus etiquetas */
        vertical-align: top;
        /* Proporcionar espacio para escribir texto */
        height: 5em;
      }
      .button {
        /* Alinear los botones con los campos de texto */
        padding-left: 400px; /* mismo tamaño que los elementos de la etiqueta */
      }
      
      button {
        /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
           entre las etiquetas y sus campos de texto */
        margin-left: auto;
      }
